
body{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: linear-gradient(lightpink,hotpink)
}

.h1{
    text-align: center;
    text-decoration: solid;
    color: white;
}

.a1{
    background-color: white;
    position: relative;
    height:100px ; 
    width: 200px; 
    top:60px ; 
    left: 200px;
    text-align: center;
    border-radius: 30px; 

}

.a2{
    background-color: white;
    position: relative;
    height:100px ;
    width:200px ;
    top:60px ;
    left: 250px;
    text-align:center ;
    border-radius: 30px;
}

.a3{
    background-color: white;
    position: relative;
    height: 100px;
    width:200px ;
    top:60px ;
    left: 200px;
    text-align:center ;
    border-radius: 30px;
}

.a4{
    background-color: white;
    position: relative;
    height: 100px ;
    width:200px ;
    top:60px ;
    left: 200px;
    text-align:center ;
    border-radius: 30px;
}

.p1{
    text-align:right;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:100px ;
    /* margin-right: ; */
}

.m1{
    background-image: url(assets/html.jpg);
    /* background-color: white; */
    position: relative;
    background-image: url(assets/html.jpg)
}

.m2{
    background-image: url(assets/css.jpg);
    /* background-color: white; */
    position: relative;
    background-image: url(assets/css.jpg)
    height
    
}

.m3{
    background-image: url(assets/php.jpg);
    /* background-color: white; */
    position: relative;
    height: 30px;
    width: 20px; 
    border-radius: 30px;
    text-align: center; 
}

.m4{
    background-image: url(assets/python.jpg);
    /* background-color: white; */
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    text-align: center;
}

.m5{
    background-image: url(assets/java.jpg);
    /* background-color: white; */
    position: relative;
    height: 30px;
    width: 20px;
    border-radius: 30px;
    text-align: center;
}

.m6{
    background-image: url(assets/jv.jpg);
    /* background-color: white; */
    position: relative;
    height: 30px;
    width: 20px;
    border-radius: 30px;
    text-align: center;
}

.m7{
    background-image: url(assets/swift.jpg);
    /* background-color: white; */
    position: relative;
    height: 30px;
    width: 20px;
    border-radius: 30px;
    text-align: center;
}

.m8{
    background-image: url(assets/ruby.jpg);
    /* background-color: white; */
    position: relative;
    height: 30px;
    width: 20px;
    border-radius: 30px;
    text-align: center;
}

.smedia1{
    background-image: url(assets/snap.jpg)
}

.smedia2{
    background-image: url(assets/insta.jpg)
}

.smedia3{
    background-image: url(assets/yt.jpg)}
